<p class="form__caption">Закажите сейчас <span class="orange">по&nbsp;акции</span></p>
<div class="form__price price">
  <div class="price__cell price__cell--previous">
    <p class="price__caption">Старая цена</p>
    <p class="price__cost">
      <span class="price__cost-value x_price_previous">1980</span><span class="price__cost-currency x_currency">руб</span>
    </p>
  </div>
  <div class="price__cell price__cell--current">
    <p class="price__caption">Ваша цена</p>
    <p class="price__cost">
      <span class="price__cost-value x_price_current">990</span><span class="price__cost-currency x_currency">руб</span>
    </p>
  </div>
</div>
