<p class="form__lastpack">Осталось упаковок со&nbsp;скидкой:&nbsp;<span class="lastpack orange">15</span></p>
<div class="form__fields">
  <p class="form__field">
    <img src="img/icon-name.svg" width="19" height="23" alt="" class="form__icon form__icon--name">
    <input type="text" name="name" class="form__input" placeholder="Моё имя">
  </p>
  <p class="form__field">
    <img src="img/icon-phone.svg" width="20" height="24" alt="" class="form__icon form__icon--phone">
    <input type="tel" name="phone" class="form__input" placeholder="Мой телефон">
  </p>
</div>