<section class="comp block" id="comp">
  <div class="container">
    <h2 class="comp__title title">Что делает <span class="green">Nutribion</span> таким эффективным</h2>
    <ul class="comp__list">
      <li class="comp__item">
        <div class="comp__card">
          <div class="comp__picture comp__picture--seaberry">
            <img src="img/comp-01.png" alt="">
          </div>
          <div class="comp__text">
            <h3 class="comp__caption">Ягоды облепихи</h3>
            <ul class="comp__adv">
              <li>богаты витамином&nbsp;С</li>
              <li>способствуют профилактике авитаминоза</li>
              <li>борются с&nbsp;воспалительными процессами</li>
              <li>подавляют размножение болезнетворных микробов</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="comp__item">
        <div class="comp__card">
          <div class="comp__picture comp__picture--lycium">
            <img src="img/comp-02.png" alt="">
          </div>
          <div class="comp__text">
            <h3 class="comp__caption">Ягоды годжи</h3>
            <ul class="comp__adv">
              <li>содержат антиоксиданты, которые борются с&nbsp;вредными свободными радикалами и&nbsp;воспалениями</li>
              <li>витамины&nbsp;С и&nbsp;A</li>
              <li>предупреждают развитие&nbsp;заболеваний и&nbsp;ускоряют выздоровление</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="comp__item">
        <div class="comp__card">
          <div class="comp__picture comp__picture--ginger">
            <img src="img/comp-03.png" alt="">
          </div>
          <div class="comp__text">
            <h3 class="comp__caption">Имбирь</h3>
            <ul class="comp__adv">
              <li>витамин&nbsp;С вытесняет из&nbsp;клеток молекулы гриппа</li>
              <li>уничтожает бактерии и&nbsp;грибки</li>
              <li>оказывает дезинфицирующее действие</li>
              <li>повышает иммунитет</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="comp__item">
        <div class="comp__card">
          <div class="comp__picture comp__picture--tea">
            <img src="img/comp-04.png" alt="">
          </div>
          <div class="comp__text">
            <h3 class="comp__caption">Порошок <br>зеленого чая</h3>
            <ul class="comp__adv">
              <li>витамины&nbsp;Р и&nbsp;С повышают&nbsp;иммунитет и&nbsp;оберегают клетки от&nbsp;разрушений</li>
              <li>витамин&nbsp;В2 борется с&nbsp;бактериями и&nbsp;вирусами</li>
              <li>катехины укрепляют иммунную систему</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <div class="comp__note">Растительные компоненты в&nbsp;составе легко усваиваются организмом и&nbsp;значительно укрепляют иммунитет</div>
  </div>
</section>