<header class="head head--top wave-bottom">
  <div class="head__container container">
    <!--=include ./head-top.html -->
    <div class="head__middle">
      <div class="head__text">
        <!--=include ./head-text.html -->
      </div>
      <div class="head__pictures">
        <!--=include ./head-pictures.html -->
      </div>
      <div class="head__form">
        <div class="form">
          <div class="form__top">
            <!--=include ./form/form-top.html -->
          </div>
          <div class="form__timer timer">
            <!--=include ./form/form-timer.html -->
          </div>
          <a href="#order" class="form__button button">Заказать</a>
          <div class="form__bottom">
            <!--=include ./form/form-bottom.html -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>