<section class="head head--bottom block wave-top wave-bottom" id="order">
  <div class="container">
    <div class="head__middle">
      <div class="head__text head__text--bottom">
        <!--=include ./head-text.html -->
      </div>
      <div class="head__pictures head__pictures--bottom">
        <!--=include ./head-pictures.html -->
      </div>
      <div class="head__form head__form--bottom">
        <form action="/submit" method="POST" class="x_order_form form form--bottom">
          <div class="form__top">
            <!--=include ./form/form-top.html -->
          </div>
          <div class="form__order">
            <!--=include ./form/form-order.html -->
          </div>
          <button type="submit" class="form__button button">
            <span>Заказать <small>со&nbsp;скидкой</small></span>
          </button>
          <div class="form__bottom">
            <div class="form__note">*при заказе курса</div>
            <!--=include ./form/form-bottom.html -->
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>