<div class="head__caption">
  <h2 class="head__title">Средство <span class="green">2 в 1</span>:</h2>
  <p class="head__subtitle">эффективен при ОРВИ и&nbsp;укрепляет&nbsp;иммунитет</p>
</div>
<p class="head__list-caption">У вирусов не будет шансов!</p>
<ul class="head__list">
  <li class="head__list-item">
    <b>Ускоряет выздоровление</b>
    на всех этапах простуды
  </li>
  <li class="head__list-item">
    <b>Предотвращает заражение</b>
    вирусами и инфекциями
  </li>
  <li class="head__list-item">
    <b>Придает силы</b>
    и энергию каждый день
  </li>
</ul>