<section class="order block">
  <div class="container">
		<h2 class="title" id="order">Как заказать доставку<br>
			<span class="green">Nutribion </span></h2>
		<div class="order-content">
			<div class="order-box">
				<div class="order-box__count order-count1">01</div>
				<div class="order-box__text">Заполните форму заказа</div>
			</div>
			<div class="order-box">
				<div class="order-box__count order-count2">02</div>
				<div class="order-box__text odtxt">Ответьте на звонок оператора</div>
			</div>
			<div class="order-box">
				<div class="order-box__count order-count3">03</div>
				<div class="order-box__text">Оплатите после получения</div>
			</div>
		</div>
  </div>
</section>


