<section class="use wave-top wave-bottom block">
  <div class="container">
    <h2 class="use__title title">Как укрепить иммунитет с помощью <span class="green">Nutribion</span></h2>
    <ul class="use__list">
      <li class="use__item">
        <div class="use__card">
          <div class="use__picture">
            <img src="img/use-01.svg" alt="" class="use__img use__img--01">
          </div>
          <div class="use__card-body">
            <h3 class="use__caption">Добавьте</h3>
            <p class="use__text">в&nbsp;стакан воды 60&nbsp;капель препарата и&nbsp;размешайте</p>
          </div>
        </div>
      </li>
      <li class="use__item">
        <div class="use__card use__card--second">
          <div class="use__picture use__picture--second">
            <img src="img/use-02.svg" alt="" class="use__img use__img--02">
          </div>
          <div class="use__card-body">
            <h3 class="use__caption">Выпейте смесь</h3>
            <p class="use__text">Старайтесь ежедневно принимать напиток в&nbsp;одно и&nbsp;то&nbsp;же&nbsp;время</p>
          </div>
        </div>
      </li>
      <li class="use__item">
        <div class="use__card">
          <div class="use__picture">
            <img src="img/use-03.svg" alt="" class="use__img use__img--03">
          </div>
          <div class="use__card-body">
            <p class="use__text"><h3 class="use__caption use__caption--inline">Почувствуйте,</h3> как уже через 2&nbsp;часа иммунитет “напитывается” полезными компонентами и&nbsp;дает мощный отпор любой болезни</p>
          </div>
        </div>
      </li>
    </ul>
    <p class="use__note">На результаты приема препарата могут повлиять индивидуальные особенности организма </p>
    <a href="#" class="use__button button button--lg">Заказать Nutribion</a>
  </div>
</section>