<section class="reason block">
    <div class="container">
				<h2 class="title"><span class="green">Проверьте себя:</span><br>
					в каком состоянии ваш иммунитет<br>
					прямо сейчас</h2>
					<div class="reason-content">
						<div class="reason-box">
							<div class="reason-box__img"><img src="img/reas-1.jpg" alt="disease"></div>
							<div class="reason-box__text"><b>Вы болеете простудой</b><br>
								больше 3 раз в год</div>
						</div>
						<div class="reason-box ">
							<div class="reason-box__img"><img src="img/reas-2.jpg" alt="disease"></div>
							<div class="reason-box__text">Вы иногда чувствуете<br>
								<b>слабость</b>, усталость и вялость
								</div>
						</div>
						<div class="reason-box">
							<div class="reason-box__img"><img src="img/reas-3.jpg" alt="disease"></div>
							<div class="reason-box__text">Вас беспокоят <b>проблемы
								с пищеварением</b> и питаетесь
								несбалансированно</div>
						</div>
						<div class="reason-question">
							<div class="reason-question__title">Совпало больше 1 пункта?</div>
							<div class="reason-question__subtitle">Вероятно, ваш иммунитет<br>
								проигрывает войну <span class="nowrap">за здоровье!</span></div>
						</div>
						<div class="reason-box">
							<div class="reason-box__img"><img src="img/reas-4.jpg" alt="disease"></div>
							<div class="reason-box__text"><b>Вы курите и пьете спиртное</b><br>
								не только по праздникам
								</div>
						</div>
						<div class="reason-box">
							<div class="reason-box__img"><img src="img/reas-5.jpg" alt="disease"></div>
							<div class="reason-box__text"><b>Вам не хватает 6 часов сна,</b><br>
								чтобы чувствовать себя бодро</div>
						</div>
						<div class="reason-box">
							<div class="reason-box__img"><img src="img/reas-6.jpg" alt="disease"></div>
							<div class="reason-box__text"><b>Ваши волосы</b> выглядят<br>
								тусклыми и выпадают, а <b>на коже</b><br>
								появляются высыпания
								</div>
						</div>
					</div>
    </div>
</section>