<section class="rev block" id="rev">
  <div class="container">
		<div class="rev-subtitle">Согласно результатам опросов,</div>
		<h2 class="title"><span class="green">Nutribion</span> доверяют <span class="green">2560+</span> человек</h2>
		<div class="slider-box">
		<div class="rev-content">

			<div class="rev-box">
					<div class="rev-box-top">
						<div class="rev-box__avatar"><img src="img/ava2.jpg" alt="avatar"></div>
						<div class="rev-box__name">Роман, 48 лет,</div>
						<div class="rev-box__city">Тавау</div>
					</div>
					<div class="rev-box__body">
					<div class="rev-box__thesis">Профилактика необходима!</div>
						<div class="rev-box__text">Здравствуйте! Я периодически покупаю Нутрибион. Прохожу уже третий курс. Это необходимо, потому что при слабом иммунитете очень большой риск любой вирусной инфекции и обостряются имеющиеся заболевания. И все хронические болезни постоянно о себе напоминают. А там уже нужно будет пить тяжелые для печени лекарства, портить желудок и долго восстанавливаться. <b>Нутрибион меня держит в тонусе уже два года, работает отлично,</b> действительно мощная штука. Я планирую его заказывать и дальше и хотя бы раз в полгода-год пить его курсом.</div>
					</div>	<div class="rev-box__btn">
							<div class="rev-box__plus"></div>
						</div>
					</div>
				<div class="rev-box">
					<div class="rev-box-top">
						<div class="rev-box__avatar"><img src="img/ava3.jpg" alt="avatar"></div>
						<div class="rev-box__name">Светлана И., 36 лет,</div>
						<div class="rev-box__city">г. Кучинг</div>
					</div>
					<div class="rev-box__body">
					<div class="rev-box__thesis">“...невозможно съесть суточную норму витаминов...”</div>
						<div class="rev-box__text">Каждый год обязательно пропиваем с мужем курс Нутрибиона. Его мне мама порекомендовала. Тьфу-тьфу, <b>но с иммунитетом проблем теперь нет,</b> чувствуем себя гораздо бодрее, хотя раньше все вирусы были наши. Приятный бонус — улучшилось состояние зубов,<br> волос и ногтей. <br> Муж стал менее раздражительным. По-моему, все равно <b>невозможно съесть суточную норму витаминов в еде.</b> А с нашими стрессами, экологией, ритмом жизни — нечего и думать о нормальном усвоении естественных витаминов. Поэтому <b>Нутрибион для меня находка.</b></div>
					</div><div class="rev-box__btn">
							<div class="rev-box__plus"></div>
						</div>
					</div>
				<div class="rev-box">
					<div class="rev-box-top">
						<div class="rev-box__avatar"><img src="img/ava4.jpg" alt="avatar"></div>
						<div class="rev-box__name">Анна, 51 год, </div>
						<div class="rev-box__city">г. Джорджтаун </div>
					</div>
					<div class="rev-box__body">
					<div class="rev-box__thesis">“...удалось полностью избавиться от ангины”</div>
						<div class="rev-box__text">У меня <b>был хронический тонзиллит,</b> которым я заболевала в лучшем случае раз в месяц. Последний раз мне назначили сильные антибиотики, которые вылечили меня за 3 дня, но добавили другие проблемы — молочницу. Потом оказалось, что врач просто забыла прописать мне таблетки предотвращающие молочницу. С тех пор я <b>боюсь связываться с врачами</b> и стараюсь справляться собственными силами. Веду здоровый образ жизни, занимаюсь шейпингом, кушаю больше фруктов. Периодически тонзиллит возвращался, но и он прекратился после того, как я пропила курс Нутрибиона. Аж не верится, что мне <b>удалось полностью избавиться</b> от этой заразы!
						</b></div></div>
						<div class="rev-box__btn">
							<div class="rev-box__plus"></div>
						</div>
				</div>
				<div class="rev-box">
					<div class="rev-box-top">
						<div class="rev-box__avatar"><img src="img/ava5.jpg" alt="avatar"></div>
						<div class="rev-box__name">Александр Н., 39 лет,</div>
						<div class="rev-box__city">г. Кота-Кинабалу</div>
					</div>
					<div class="rev-box__body">
					<div class="rev-box__thesis">“...он действительно работает!”</div>
						<div class="rev-box__text">Мой иммунитет периодически <b>сигнализирует о проблемах:</b> устаю быстро на работе, герпес на губе вылезает, ОРВИ часто подхватываю. Но, к счастью, это <b>все осталось в прошлом</b> благодаря чудо-эссенции Nutribion. Ее рекламу я чисто случайно увидел в интернете. Решил попробовать — совсем замучил весь этот букет недугов. <b>Мне хватило одного курса,</b> чтобы полностью избавиться от своих проблем. Пробуйте — он действительно работает!</div>
					</div>	<div class="rev-box__btn">
							<div class="rev-box__plus"></div>
						</div>
					</div>
				<div class="rev-box">
					<div class="rev-box-top">
						<div class="rev-box__avatar"><img src="img/ava6.jpg" alt="avatar"></div>
						<div class="rev-box__name">Екатерина, 60 лет,</div>
						<div class="rev-box__city">Каджанг</div>
					</div>
					<div class="rev-box__body">
					<div class="rev-box__thesis">“Мне Нутрибион подошел”</div>
						<div class="rev-box__text">Я раньше лечилась от простуды несколько раз в год, особенно после дождей, дней по 10. И уже два года я постоянно пробовала разные средства, укрепляющие иммунитет. Они не сильно помогали, но я понимала, что просто нужно найти именно то, которое мне подойдет. И у меня получилось. При очередной простуде я на третий день стала пить Нутрибион, и уже на пятый день чувствовала себя абсолютно здоровой! И в целом <b>болеть сейчас стала реже.</b> В общем, мне подошел.</div>
					</div><div class="rev-box__btn">
							<div class="rev-box__plus"></div>
						</div>
					</div>
				<div class="rev-box">
					<div class="rev-box-top">
						<div class="rev-box__avatar"><img src="img/ava7.jpg" alt="avatar"></div>
						<div class="rev-box__name">Анюта, 30 лет,</div>
						<div class="rev-box__city">Тайпинг</div>
					</div>
					<div class="rev-box__body">
					<div class="rev-box__thesis">“Пью сама и даю сыну”
					</div>
						<div class="rev-box__text">У меня <b>сын раньше был самым болезненным в классе.</b> Не было и месяца, чтобы он не подцепил какой-то вирус и не провалялся с болезнью неделю дома. И <b>я, естественно, от него постоянно заражалась.</b> Но у меня и времени болеть нет, я и на работу ходила, и по дому делами занималась. Я узнала про Нутрибион от мамы мальчика, с которым сын учится. Попросила ее заказать и нам, когда себе будут брать. И <b>пропить Нутрибион было лучшим решением в лечении! Мы с сыном вообще забыли, как это - болеть.</b> Уже полгода все отлично.
						</div></div>
						<div class="rev-box__btn">
							<div class="rev-box__plus"></div>
						</div>
				</div>
				<div class="rev-box">
					<div class="rev-box-top">
						<div class="rev-box__avatar"><img src="img/ava8.jpg" alt="avatar"></div>
						<div class="rev-box__name">Алексей, 40 лет,</div>
						<div class="rev-box__city">Маранг</div>
					</div>
					<div class="rev-box__body">
					<div class="rev-box__thesis">“Нашел натуральный препарат”</div>
						<div class="rev-box__text">Привет! Хочу поделиться мнением об очень неплохом препарате. Недавно открыл для себя Нутрибион. Хотя, как оказалось, о нем давно многие знают и успешно пользуются. Так как у меня аллергия на многие компоненты, я искал для иммунитета что-то из натуральных экстрактов, не синтетическое. Нутрибион мой организм воспринял очень хорошо. Простудами после одного курса я не болел 7 месяцев. Сейчас простудился - и снова себе заказал эту эссенцию, потому что мне только она реально помогла. Общее мнение о Нутрибионе - он стоит своих денег.</div>
					</div>	<div class="rev-box__btn">
							<div class="rev-box__plus"></div>
						</div>
					</div>
				<div class="rev-box">
					<div class="rev-box-top">
						<div class="rev-box__avatar"><img src="img/ava9.jpg" alt="avatar"></div>
						<div class="rev-box__name">Алена, 33 года, </div>
						<div class="rev-box__city">Бинтулу</div>
					</div>
					<div class="rev-box__body">
					<div class="rev-box__thesis">“Нутрибион очень удобный”</div>
						<div class="rev-box__text">Нутрибион - не первый препарат для иммунитета, который я пила. Но я остановилась именно на нем, потому что он по всем важным для меня моментам хорош. У него адекватная цена, его удобно заказывать через интернет с доставкой. Не нужно вносить предоплаты. Его удобно пить, разбавляя водой. Еще нутрибион нравится мне по вкусу. Ну и конечно же, он хорошо укрепляет иммунитет, уже не заражаюсь от каждого чиха на улице.</div>
					</div>	<div class="rev-box__btn">
							<div class="rev-box__plus"></div>
						</div>
					</div>
				<div class="rev-box">
					<div class="rev-box-top">
						<div class="rev-box__avatar"><img src="img/ava10.jpg" alt="avatar"></div>
						<div class="rev-box__name">Тамара, 59 лет,</div>
						<div class="rev-box__city">Куала-Дунгун</div>
					</div>
					<div class="rev-box__body">
					<div class="rev-box__thesis">“Помог справиться с последствиями пневмонии”</div>
						<div class="rev-box__text">Я недавно переболела пневмонией. Это огромный стресс для всего организма. Когда знакомый медик мне посоветовал пить Нутрибион, я удивилась. Но почитала состав и решила попробовать. Через неделю я обратила внимание, что ко мне вернулась трудоспособность, стало больше сил. Еще через неделю заметила, что стала лучше высыпаться, даже меньше часов сна нужно, чтобы хорошо себя чувствовать. Я сейчас планирую пить Нутрибион регулярно для восполнения сил и профилактики.
						</div></div>
						<div class="rev-box__btn">
							<div class="rev-box__plus"></div>
						</div>
				</div>
				<div class="rev-box">
					<div class="rev-box-top">
						<div class="rev-box__avatar"><img src="img/ava1.jpg" alt="avatar"></div>
						<div class="rev-box__name">Евгения С., 41 год,</div>
						<div class="rev-box__city">г. Куала-Лумпур </div>
					</div>
					<div class="rev-box__body">
					<div class="rev-box__thesis">“...не взяла ни одного<br>
							больничного”</div>
						<div class="rev-box__text">Раньше <b>сидела на больничном <span class="nowrap">по 3-4 раза</span></b> в год. На работе уже начали косо смотреть из-за моего частого отсутствия, поэтому <b>решила заняться профилактикой</b>. Предпочитаю укреплять иммунитет народными средствами и препаратами с натуральным составом. Сначала просто пила витамины в большом количестве. Но основная заслуга, по-моему мнению, за Нутрибионом. По рекомендации подруги-медсестры пропила курс, и <b>за 10 месяцев не взяла ни одного больничного!</b> Так как проверила на себе, то теперь даю его всей семье. </div>
					</div>	<div class="rev-box__btn">
							<div class="rev-box__plus"></div>
						</div>
					</div>
		</div>
		<div class="paginator-center">
				<svg xmlns="http://www.w3.org/2000/svg" class="prev" width="50" height="38" viewBox="0 0 50 38"><g><g><path  d="M0 18h.467L13.435.15l1.414 1.415L2.91 18H50v2H2.91l11.94 16.434-1.414 1.416L.467 20H0z"/></g></g></svg>
				<svg xmlns="http://www.w3.org/2000/svg" class="next" width="50" height="38" viewBox="0 0 50 38"><g><g><path  d="M0 18h47.091L35.151 1.565 36.565.151 49.533 18H50v2h-.467L36.565 37.85l-1.414-1.416L47.09 20H.001z"/></g></g></svg>
	</div>
</div>
		<div class="rev-comment">Результаты могут отличаться в зависимости от индивидуальных особенностей организма.</div>
		<div class="rev-line"></div>
		<div class="rev-feedback">Расскажите и вы о своем опыте приема
			<span class="green">Nutribion</span></div>
			<div class="rev__review">
				<div class="form__fields">
					<p class="form__field">
						<img src="img/icon-name.svg" width="19" height="23" alt="" class="form__icon form__icon--name">
						<input type="text" name="name" class="form__input input__val-1" placeholder="Ваше имя, возраст
						">
					</p>
					<p class="form__field">
						<img src="img/icon-phone.svg" width="20" height="24" alt="" class="form__icon form__icon--phone">
						<input type="tel" name="phone" class="form__input input__val-2" placeholder="Телефон">
					</p>
				</div>
				<div class="answer__input-wrapper">
						<input class="form__input input__text input__val-3" type="text" placeholder="Ваш отзыв">
				</div>
				<div class="button btn-review">
						Отправить 
				</div>
		</div>
  </div>
</section>

<div class="popup__review">
		<div class="review__inner">
				<span class="close"></span>
				<p class="review__title">Спасибо за отзыв. <br>Он отправлен на модерацию.</p>
				<p class="review__p">Нецензурная лексика или реклама будут удалены.</p>
		</div>
</div>
