<div class="ever-popup-build">
  <div class="popup" id="cloneThis">
    <div class="popup__inner">
      <div class="popup__content">
        <div class="popup__logo">
          <img src="img/head-logo.png" alt="">
          <span>Эссенция<br> для иммунитета</span>
        </div>
        <div class="popup__pictures pack">
          <!--=include ../a_head/pack/pack.html -->
        </div>
      </div>
      <div class="popup__form">
        <form action="/submit" method="POST" class="x_order_form form form--bottom">
          <div class="form__top">
            <!--=include ../a_head/form/form-top.html -->
          </div>
          <div class="form__order">
            <!--=include ../a_head/form/form-order.html -->
          </div>
          <button type="submit" class="form__button button">
            <span>Заказать <small>со&nbsp;скидкой</small></span>
          </button>
          <div class="form__bottom">
            <!-- <div class="form__note">*при заказе курса</div> -->
            <!--=include ../a_head/form/form-bottom.html -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>