<section class="weak block wave-top wave-bottom">
	<div class="container">
			<h2 class="title">С каждым днем организм ослабляется<br>
				массой неизбежных факторов</h2>
				<div class="weak-content">
					<div class="weak-left">
							<div class="weak-box">
								<div class="weak-box__name">Стрессы</div>
								<div class="weak-box__icon weak-icon1"></div>
							</div>
							<div class="weak-box">
								<div class="weak-box__name">Плохая экология</div>
								<div class="weak-box__icon weak-icon2"></div>
							</div>
							<div class="weak-box">
								<div class="weak-box__name">Неправильное	питание</div>
								<div class="weak-box__icon weak-icon3"></div>
              </div>
					</div>
				<div class="weak-center">
					<div class="weak-center__img"><img src="img/weak-img.jpg" alt="weak"></div>	
				</div>
				<div class="weak-right">
					<div class="weak-box">
							<div class="weak-box__icon weak-icon4"></div>
							<div class="weak-box__name">Вредные<br>
									привычки</div>
					</div>
					<div class="weak-box">
							<div class="weak-box__icon weak-icon5"></div>
							<div class="weak-box__name">Бытовая химия</div>
					</div>
					<div class="weak-box">
							<div class="weak-box__icon weak-icon6"></div>
							<div class="weak-box__name">Общественные<br>
									места</div>
					</div>
				</div>
				</div>
				<div class="weak-descript">Ослабленный иммунитет — легкая цель<br>
						для вирусов и осложнений болезней</div>
						<div class="weak-btn button ever-popup-btn">Заказать Nutribion</div>
	</div>
</section>